apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: minio
  namespace: gitlab
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: minio
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:RELEASE.2018-12-27T18-33-08Z
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 100Mi
        volumeMounts:
        - name: data-store
          mountPath: /export
        ports:
        - containerPort: 9000
          name: http
          protocol: TCP
      volumes:
      - name: data-store
        persistentVolumeClaim:
          claimName: minio-store
